<div class="content">

	<div class="content-header">
		<!--[[.header]]-->
  	</div>

  	<!-- Content body -->
	<div class="content-body">
    	<div ng-repeat="artInfo in articles">
            <div class="article" ng-repeat="art in artInfo.articles">
                <div class="article-title">
        	        <a href="#">[[art.titleHtml]]</a>
                </div>
                <div class="article-header">
                </div>
                <div class="article-content">
                    [[art.contentHtml]]
		        </div>
                <hr>
            </div>
    	</div>
	</div>
	<!-- ./Content body --> 
</div>
