<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
  	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<title>blog</title>

        <!-- CSS -->
        {{ range .Stylesheets }}
        <link rel="stylesheet" type="text/css" href="{{.}}">  
        {{ end }}

    	<link rel="icon" href="../app/blog/images/favicon.ico">
  </head>
  <body>
  	<div class="layout-main">	
        hello world!!!!
  	</div>

    <!-- JAVASCRIPT -->
    {{ range .Javscripts }}
    <script src="{{.}}"></script>
    {{ end }}
    <!--startup-->
    {{.Startup}}

  </body>
</html>
